body{
  margin:0;
  font-family:"Segoe UI",sans-serif;
  background:#f6f7f9;
}

/* SIDEBAR */
.sidebar{
  position:fixed;
  top:0; left:0;
  width:200px;
  height:100vh;
  background:#fff;
  border-right:1px solid #ddd;
  padding:20px 12px;
}
.sidebar h4{
  color:#00bfa5;
  font-weight:700;
  margin-bottom:30px;
}
.sidebar a{
  display:block;
  padding:10px 12px;
  margin-bottom:6px;
  text-decoration:none;
  color:#333;
  border-radius:8px;
}
.sidebar a:hover,
.sidebar a.active{
  background:#00bfa5;
  color:#fff;
}

/* TOP BAR */
.top-bar{
  position:fixed;
  top:0; left:200px; right:0;
  height:56px;
  background:#fff;
  border-bottom:1px solid #ddd;
  display:flex;
  justify-content:flex-end;
  align-items:center;
  padding:0 24px;
}

/* MAIN */
.main{
  margin-left:200px;
  padding:80px 30px 30px;
  max-width:900px;
}

/* PROFILE HEADER */
.profile-header{
  background:#fff;
  border-radius:14px;
  padding:20px;
  display:flex;
  gap:20px;
  align-items:center;
  box-shadow:0 6px 18px rgba(0,0,0,.12);
  margin-bottom:25px;
}
.profile-header img{
  width:90px;
  height:90px;
  border-radius:50%;
  object-fit:cover;
}
.profile-header h5{
  margin:0;
  font-weight:600;
}
.profile-header p{
  margin:0;
  font-size:14px;
  color:#666;
}

/* CREATE POST */
.create-post{
  background:#fff;
  border-radius:14px;
  padding:15px;
  box-shadow:0 6px 18px rgba(0,0,0,.12);
  margin-bottom:25px;
}
.create-post textarea{
  width:100%;
  border-radius:10px;
  border:1px solid #ccc;
  padding:10px;
  resize:none;
}
.create-post button{
  margin-top:10px;
  background:#0d6efd;
  color:#fff;
  border:none;
  padding:8px 18px;
  border-radius:20px;
}

/* POST */
.post{
  background:#fff;
  border-radius:14px;
  padding:15px;
  box-shadow:0 6px 18px rgba(0,0,0,.12);
  margin-bottom:20px;
}
.post-header{
  display:flex;
  gap:10px;
  align-items:center;
  margin-bottom:10px;
}
.post-header img{
  width:40px;
  height:40px;
  border-radius:50%;
}
.post-header h6{
  margin:0;
  font-size:14px;
  font-weight:600;
}
.post p{
  font-size:14px;
  display: block;
}
.post img{
  height: 50%;
  width:50%;
  border-radius:10px;
  margin-top:10px;
}
.post-actions{
  margin-top:10px;
}
.post-actions button{
  border:none;
  background:none;
  color:#0d6efd;
  font-weight:600;
  cursor:pointer;
}
.nav-icons a { text-decoration: none; color: #333; font-weight: 500; margin-left: 20px; padding: 5px 10px; border-radius: 5px; transition: background-color 0.3s, color 0.3s; }
    .nav-icons a:hover { background-color: #00bfa5; color: #fff; }