body{
  margin:0;
  font-family:Segoe UI, sans-serif;
  background:linear-gradient(120deg,#12c2b1,#7ee8fa);
}

.container{
  max-width:1300px;
  margin:40px auto;
  background:#fff;
  border-radius:18px;
  padding:35px;
  box-shadow:0 20px 45px rgba(0,0,0,.18);
}

h1{
  text-align:center;
  color:#12bfa5;
  margin-bottom:30px;
}

/* PROVINCES */
.provinces{
  display:flex;
  flex-wrap:wrap;
  gap:15px;
  justify-content:center;
  margin-bottom:35px;
}

.province-btn{
  padding:12px 28px;
  border:none;
  border-radius:30px;
  background:#0d6efd;
  color:#fff;
  font-weight:600;
  cursor:pointer;
}

.province-btn:hover{
  background:#0b5ed7;
}

/* DISTRICTS */
.districts{
  display:none;
  flex-wrap:wrap;
  gap:22px;
  justify-content:center;
}

.district-card{
  width:210px;
  background:#f8f9fa;
  border-radius:14px;
  overflow:hidden;
  box-shadow:0 6px 18px rgba(0,0,0,.15);
  text-align:center;
}

.district-card img{
  width:100%;
  height:140px;
  object-fit:cover;
}

.district-card a{
  display:block;
  padding:12px;
  text-decoration:none;
  font-weight:600;
  color:#0d6efd;
}

.district-card a:hover{
  text-decoration:underline;
}
.district{
    margin-left: 500px;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.10);
    margin-bottom: 6px;
}
.distr img{
  width: 250px;
  height: 200px; 
  border-radius: 10px;  
  background-color: #ffff;
}
.di a{
    margin-left: 70px;
    text-decoration: none;
    color: #410dfd;
    font-weight: 600;
}
.di{
 margin-top: 5px;
}
